1.XML Data/2 course ID DTD.xml

	<!ELEMENT Course_Catalog (Department*)>

	<!ELEMENT Department (Title, Course*, (Professor | Lecturer)+)>
	<!ATTLIST Department Code CDATA #REQUIRED Chair IDREFS #REQUIRED>
	
	<!ELEMENT Chair (Lecturer| Professor)>

	<!ELEMENT Title (#PCDATA)>
	<!ELEMENT Course (Title, Description?)>
	<!ATTLIST Course Number ID #REQUIRED Prerequisites IDREFS #IMPLIED Instructors IDREFS #REQUIRED Enrollment CDATA #IMPLIED>

  
	<!ELEMENT Tile (#PCDATA)>
	<!ELEMENT Description (#PCDATA | Courseref)*>

	<!ELEMENT Prerequisites (Courseref*)>
	<!ELEMENT Instructors (Lecturer| Professor)*>
 
	<!ELEMENT Courseref EMPTY>
	<!ATTLIST Courseref Number IDREF #REQUIRED>


	<!ELEMENT Lecturer (First_Name, Middle_Initial?, Last_Name)>
	<!ATTLIST Lecturer InstrID ID #REQUIRED>

	<!ELEMENT Professor (First_Name, Middle_Initial?, Last_Name)>
	<!ATTLIST Professor InstrID ID #REQUIRED>

	<!ELEMENT First_Name (#PCDATA)>
	<!ELEMENT Middle_Initial (#PCDATA)>
	<!ELEMENT Last_Name (#PCDATA)>

