XML Data/1 course noID DTD.xml

  <!ELEMENT Course_Catalog (Department*)>

  <!ATTLIST Department Code CDATA #REQUIRED>

  <!ELEMENT Department (Title, Chair, Course+)>
  <!ELEMENT Title (#PCDATA)>
  <!ELEMENT Chair (Professor)>
  <!ELEMENT Course (Title, Description?, Instructors, Prerequisites?)>

  <!ATTLIST Course Number CDATA #REQUIRED Enrollment CDATA #IMPLIED>

  


  <!ELEMENT Tile (#PCDATA)>
  <!ELEMENT Description (#PCDATA)>
  <!ELEMENT Instructors (Lecturer| Professor)*>
  <!ELEMENT Prerequisites  (Prereq*)>

  <!ELEMENT Lecturer (First_Name, Middle_Initial?, Last_Name)>
  <!ELEMENT Professor (First_Name, Middle_Initial?, Last_Name)>

  <!ELEMENT First_Name (#PCDATA)>
  <!ELEMENT Middle_Initial (#PCDATA)>
  <!ELEMENT Last_Name (#PCDATA)>

  <!ELEMENT Prereq (#PCDATA)>
